/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*Apna Css*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
}

/*Colors*/
:root {
    --first-color: #A515E5;
    /*--first-color: #507DFC;*/
    --second-color: #0E2431;
}

/*Typo*/
:root {
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.98rem;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/*Margins*/
.root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/*Index*/
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*Base*/
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*Class Css*/
.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-6);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/*Layout*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

/*Navbar*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: 5px;
    padding-left: 10%;
}

.nav__link {
    position: relative;
    color: #ffffff;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: var(--first-color);
}

.nav__logo {
    color: var(--second-color);
    font-size: 1.5rem;
}

.nav__toggle {
    color: var(--second-color);
    font-size: 2rem;
    cursor: pointer;
}

/*Active Menu*/
.active:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: var(--first-color);
}

/*Show Menu*/
.show {
    right: 0;
}

/*Home*/

.hero{
    background-color: #06101B;
}

.home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home__data {
    align-self: center;
}

.home__data h1{
    color: #fff;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);

}

.home__title-color {
    color: var(--first-color);
}

/*Social*/
.home__social {
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: #fff;
}

.home__social-icon:hover {
    color: var(--first-color);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

/*Buttons*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #ffffff;
    overflow: hidden;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;

}

.button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/*About Section*/


.about__container {
    row-gap: 2rem;
    text-align: center;
}

.about__subtitle {
    margin-top: 5%;
    margin-bottom: var(--mb-2);
}

.about__img {
    justify-self: center;
}

.about__img img {
    width: 200px;
    border-radius: .5rem;
}

/*Projects Section*/
.projects {
    text-align: center;
    background-color: #06101B;
}

.projects__container {
    row-gap: 2rem;
}

.projects p{
    color: #fff;
    padding: 10px;
}
.projects__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: .5rem;
    overflow: hidden;
}

.projects__img img {
    transition: 1s;
    cursor: pointer;
}

.projects__img img:hover {
    transform: scale(1.1);
}

.projects__button {
    color: #ffffff;
    margin-top: 2%;
    display: inline-block;
    background-color: var(--first-color);
    overflow: hidden;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;

}


.projects__button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/*Contact Form*/

.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: 2rem;
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin: auto;
}
.contact-subheading{
    text-align: center;
}

/*Footer*/
.footer {
    background-color: var(--second-color);
    color: #ffffff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}

.footer__social {
    margin-bottom: var(--mb-4);
}

.footer__icon {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0 var(--mb-2);
}

.fa-heart {
    color: #FF0000;
}

/*Media Query*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title {
        padding-bottom: 2%;
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        width: 80px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--second-color);
    }

    .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }

    .home__img {
        width: 457px;
        bottom: 15%;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }

    .about__img img {
        width: 300px;
    }

    .projects__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }
    
    

}

@media screen and (max-width: 768px) {
    body {
        margin: 0 0 0 5%;
    }

    .nav__logo {
        margin-left: 2rem;
    }

    .section-title {
        margin: 0 5% 5% 0;
    }

    /*.team__line {*/
    /*    visibility: hidden;*/
    /*}*/

    .footer {
        margin-left: -6%;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }


    /*Team Section*/

   .home__img {
        right: 10%;
   }
}


.container {
    padding: 50px 0px;
    width: 1170px;
    margin: 0 auto;
}


.card-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-column{
    width: 33.33333%;
    background: #fff;
    position: relative;
    z-index: 0;
    transition: transform .4s ease;
}

.card-inner{
    text-align: center;
    padding: 24px 12px;
    box-shadow: 0px 1px 16px rgba(177, 105, 239, 0.25);
}

.card-inner h1{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    margin-top: 24px;
    
}


.card-inner span {
    font-size: 14px;
    font-weight: 500;
    transform: translateY(10px);
}

.social{
    transition: opacity .4s ease, transform .4s ease;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
}

.card-column:hover .social{
    opacity: 1;
    visibility: visible;
    transform: translate(0px);
}

.card-column:hover{
    transform: scale(1.05);
    z-index: 1;
}

.social i {
    padding: 8px;
}

.member img{
    border-radius: 50%;
    width: 200px;
}
.user img{
    width: 200px;
}


@media screen and (max-width:1200px){
    .container{
        width: 970px;
    }
}

@media screen and (max-width:1110px){
    .container{
        width: 80%;
    }
    
    .card-column{
        width: 50%;
    }
    
}

@media screen and (max-width:600px){
    .container{
        width: 90%;
        margin: 0 auto;
    }
    
    .card-column{
        width: 90%;
        margin: 0 auto;
    }
}